.app-preloading {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000000;

  &__container {
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    h2 {
      color: #fff;
    }
  }
}
