$primary: #0d6efd;
$secondary: #626262;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$dark: #212529;
$light: #f8f9fa;
$white: #fff;
$success: #198754;
$light-100: #e9ecef;
$form-range-track-bg: $light-100;
